:root {
  --reactBlue: #385b97;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #202124;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1003)'%3e%3c/rect%3e%3cpath d='M1440 0L1171.79 0L1440 254.37z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1171.79 0L1440 254.37L1440 301.29L564.78 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M564.78 0L1440 301.29L1440 364.07000000000005L540.03 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M540.03 0L1440 364.07000000000005L1440 494.25000000000006L157.7 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L666.32 560L0 413.34000000000003z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 413.34000000000003L666.32 560L884.21 560L0 213.60000000000002z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 213.60000000000002L884.21 560L921.98 560L0 193.96000000000004z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 193.96000000000004L921.98 560L1105.27 560L0 82.30000000000004z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: var(--reactBlue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  width: 100%;
  height: 50px;
  margin-top: 0px;
  padding-left: 32px;
  padding-right: 32px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

ul {
  list-style: none;
}

.navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  padding: 15px;
  display: block;
  height: 50px;
}

header .navbar ul li a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

h1 {
  font-size: 2.1em;
}

h3 {
  text-decoration: none;
  margin-bottom: 16px;
}

@keyframes blink {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 64px auto 16px auto;
  align-items: center;
}

p {
  line-height: 2.1em;
  text-align: justify;
  text-justify: inter-word;
}

#typing-text {
  height: 50px;
  text-decoration: none;
}

#typing-text:after {
  content: "|";
  animation: blink 500ms linear infinite alternate
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 16px;
}

.personal-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.cv-download {
  border: 1px solid #fff;
  border-radius: 8px;
  background: none;
  width: fit-content;
  height: 28px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s;
}

.cv-download a {
  margin: 12px 4px
}

a:link, a:visited {
  color: #fff;
  font-weight: bold;
}

#kixy-logo {
  width: 60px;
  margin: 0px 4px -8px 4px
}

section {
  margin: 16px;
  width: 80%;
  margin: auto;
  padding: 1vw;
  display: grid;
}

article {
  width: 80%;
  margin: auto;
}

.skills-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  overflow-x: scroll;
  width: 100%;
  margin-top: 16px;
}

.skills-list::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

.skills-list::-webkit-scrollbar-track {
  background: none;
}

.skills-list::-webkit-scrollbar-thumb {
  background: var(--reactBlue);
  border-radius: 8px;
}

.skills-list::-webkit-scrollbar-thumb:hover {
  background: var(--reactBlue);
}

.skills-list > figure {
  border: 1px solid var(--reactBlue);
  border-radius: 8px;
  min-height: 200px;
  padding-top: 12px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 16px 0px;
}


figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure > img {
  width: 48px
}

article > figure {
  border: 1px solid var(--reactBlue);
  border-radius: 8px;
  padding: 64px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.skills-list figure > p {
  font-size: 14px;
  white-space: nowrap;
}

.experience {
  margin-top: 16px;
}

.experience > figure {
  margin: 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.general-article {
  margin-bottom: 16px;
}

.general-article > figure {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0px;
}

.youtube-video {
  aspect-ratio: 16/9;
  width: 80%;
}

footer {
  width: 80%;
  display: inline;
}

footer > article {
  margin-top: 16px;
}

.footerBtn {
  border: 1px solid var(--reactBlue);
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
  padding: 8px;
  margin-right: 16px;
  transition: 0.3s;
}

.footerBtn:hover {
  background-color: var(--reactBlue);
  color: black;
}

.last-section {
  margin-top: 4px;
  font-size: 12px;
  width: fit-content;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: 250px;
  width: 100%;
  background-color: #28292a;
}

.mobile-menu li a {
  line-height: 2.5;
}

.mobile-menu li a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media only screen and (max-width: 750px) {
  .links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  article > figure {
    padding: 16px;
  }

  .navbar {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .top-header {
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 32px;
  }

}
